{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}
<div class="container content ">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
        <div class="thumbnail">
            <div class="row">
            <div class="col-2 col-sm-3 text-center">
                <a class="story-img" href="{% url 'profile' ad.seller.id %}">
                    <img  class="img-circle" src="{{MEDIA_URL}}{{ad.seller.seller.image}}" >
                
        <p><span class="boldtext">Author:</span> {{ ad.seller.username }}</p></a>
            </div>
            <div class="col-10 col-sm-5">
                <h3>{{ ad.title }} <span class='pull-right'>€{{ad.price}}</span></h3>
               
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ ad.content}}</p>
                        
                        {% for i in ad.images.all %}
                        <img class='img' src="{{MEDIA_URL}}{{ i.image}}"> {% endfor %}

                    
                        <p><span class="boldtext">Views:</span> {{ ad.views}}
                            <span class="boldtext">Category:</span> {{ad.category}}
                            <form method="POST" action="{% url 'adding_to_cart' %}">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="1" />
                                <input type="hidden" name="ad" value="{{ad.id}}" />
                                <input class="btn btn-primary pull-right" type="submit" value="Add to cart" /></p>
                        </form>
                    
                    {% if perms.reviews.add_review %}
                    <div class="row" id='review_form'>
                        <form method="POST" action="{% url 'make_review' ad.id%}">
                        {% csrf_token %}<span>{{ form }}</span>
                        <input type="submit" value="Submit" />
                    </form>
                        </div>
                        {% endif  %}
                    
                        {% for review in ad.reviews.all %} 
                        <div class="row reviews">
                                        <p>{{review.image}} {{review.author}} </p>
                                        <p>{{review.content}}</p>
                         </div>
                                        {% endfor%}
                    </div></div>
                    
                
                
            </div>
            <div class="col-12 col-sm-4"> {% if ad.image %}
                <img class='product_image' src="{{MEDIA_URL}}{{ ad.image}}"> {% endif %}</div>
            </div>
        </div></div>
    </div>
</div>
{% endblock %}
