{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    <div class="row content">
        <div class="col-sm-8 col-sm-offset-2">
        
        
   
<span class='my_order'>My orders</span>
{%for line_item in order_line_items%}
<div class="thumbnail">


<p><span>{{line_item.order.date}} </span><strong>{{line_item.order.full_name}}</strong> orderd <strong>{{line_item.quantity}}</strong> pieces of <strong> {{line_item.product.title}}</strong>,with SKU code : <strong>{{line_item.product.sku}}</strong></h2>
<strong>{{line_item.product.seller.email}}</strong>

<p>Shipping address is:</p>
<p>{{line_item.order.full_name}}</p>
<p>{{line_item.order.street_address_1}}</p>
<p>{{line_item.order.street_address_2}}</p>
<p>{{line_item.order.town_or_city}}</p>
<p>{{line_item.order.postcode}}</p>
<p>{{line_item.order.country}}</p>
<h4>Contact phone number is {{line_item.order.phone_number}}</h4>

<form method='POST' action="{% url 'shipped_product' line_item.product.id %}">
    {% csrf_token %}
    
    <input type="submit" value="Ship"/>
</form>
</div>
{% endfor %}
 </div>
</div></div>



{% endblock %}