{% extends 'base.html' %} {% load bootstrap_tags %} {% load staticfiles%} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 ">

            <div class="thumbnail">

                <div class="caption">
                    <h2>Home</h2>
                    
                    <div class="row">
                        <div class="col-sm-9  text-center">
                            <a class="story-img" href="#">
                    <img class="img-circle" src="{{MEDIA_URL}}{{ad.seller.seller.image}}" >
                </a>
                            <p><span class="boldtext">Author:</span> {{ ad.seller.username }}</p>
                        </div>
                        <div class="col-sm-3 text-center">
                            {% if perms.adds.add_post %}
                            
            <form action="{% url 'write_ad' %}">
                <input class="btn btn-success pull-left" type="submit" value="Place ad" />
            </form>
            {% endif %}
            <form action="{% url 'all_ads' %}">
                <input class="btn btn-primary pull-right" type="submit" value="SE ALL ADS" />
            </form>
                            
                            
                            <div class="row">
                            <a href="#">
                            <img class='category_image' src="{% static 'images/cheese_home.jpg' %}"> 
                            
                                
                                    
                                    <p><span class="boldtext">Category:</span> Cheese</p></a>
                            </div>
                            <div class="row">
                            <a href="#">
                            <img class='category_image' src="{% static 'images/wine_home.jpg' %}"> 
                            
                                
                                    
                                    <p><span class="boldtext">Category:</span> Wine</p></a>
                            </div>
                            <div class="row">
                            <a href="#">
                            <img class='category_image' src="{% static 'images/home_oil.jpg' %}"> 
                            
                                
                                    
                                    <p><span class="boldtext">Category:</span> Olive Oil</p></a>
                            </div>


                        </div>
                    </div>
                    <hr>
                   


                </div>
            </div>
        </div>

        

    </div>
</div>
{% endblock %}
