{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 ">

            <div class="thumbnail">

                <div class="caption">
                    {% for ad in adds %}
                    <div class="row">
                        <div class="col-sm-3 col-md-2 text-center">
                            <a class="story-img" href="#">
                    <img src="{{MEDIA_URL}}{{ad.author.seller.image}}" class="img-circle">
                </a>
                            <p><span class="boldtext">Author:</span> {{ ad.author.username }}</p>
                        </div>
                        <div class="col-sm-7 col-md-8">
                            <h3>{{ ad.title }}</h3>
                            {% if ad.image %}
                            <img src="{{MEDIA_URL}}{{ ad.image}}"> {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    <p>{{ ad.content|truncatewords:30 }}</p>
                                    <p><a href="{% url 'read_ad' ad.id %}" class="btn btn-default">Read more</a>
                                    <span class="boldtext">Views:</span> {{ ad.views}}
                                    <span class="boldtext">Tag:</span> history</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>

        <div class="col-sm-2 ">
            <form action="{% url 'write_ad' %}">
                <input class="btn btn-primary" type="submit" value="Place ad" />
            </form>
        </div>

    </div>
</div>
{% endblock %}
