{% extends 'base.html' %}{% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 ">

            <div class="thumbnail">

                <div class="caption">
                    {% for product in category %}
                    <div class="row">
                        <div class="col-sm-3 col-md-2 text-center">
                            <a class="story-img" href="{% url 'profile' product.seller.id %}">
                    <img class="img-circle" src="{{MEDIA_URL}}{{product.seller.seller.image}}" >
                
                            <p><span class="boldtext">Author:</span> {{ product.seller.username }}</p></a>
                        </div>

                        <div class="col-sm-9 col-md-10 text-center">
                            <h3>{{ product.title }}<span class='pull-right'>€{{product.price}}</span></h3>
                            <div class="row">
                                <div class="col-8" style="display: inline-block">
                                    <p>{{ product.content|truncatewords:30 }}</p>
                                        <p><a href="{% url 'view_product' product.id %}" class="btn btn-default pull-right">Read more</a>
                                                        <span class="boldtext pull-left">Find in category:{{product.category}}</span>
                                                        <span class="boldtext small pull-right">Views: {{ product.views}}</p></span>
                                </div>
                                <div class="col-4" style="display: inline-block">
                                    {% if product.image %}
                                    <img class=' category_post_image' src="{{MEDIA_URL}}{{ product.image}}"> {% endif %}

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr> {% endfor %}

                </div>
            </div>
        </div>



        <div class="col-sm-2 ">
            <form action="{% url 'write_product' %}">
                <input class="btn btn-success" type="submit" value="AD A PRODUCT" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
