{% extends 'base.html' %}{% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 ">

            <div class="thumbnail">

                <div class="caption">
                    {% for ad in category %}
                    <div class="row">
                        <div class="col-sm-3 col-md-2 text-center">
                            <a class="story-img" href="{% url 'profile' ad.seller.id %}">
                    <img class="img-circle" src="{{MEDIA_URL}}{{ad.seller.seller.image}}" >
                
                            <p><span class="boldtext">Author:</span> {{ ad.seller.username }}</p></a>
                        </div>

                        <div class="col-sm-9 col-md-10 text-center">
                            <h3>{{ ad.title }}<span class='pull-right'>€{{ad.price}}</span></h3>
                            <div class="row">
                                <div class="col-8" style="display: inline-block">
                                    <p>{{ ad.content|truncatewords:30 }}</p>
                                        <span class="boldtext">Views:</span> {{ ad.views}}
                                        <span class="boldtext ">Category: </span> {{ad.category}}</p>
                                </div>
                                <div class="col-4" style="display: inline-block">
                                    {% if ad.image %}
                                    <img class=' category_post_image' src="{{MEDIA_URL}}{{ ad.image}}"> {% endif %}

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr> {% endfor %}

                </div>
            </div>
        </div>



        <div class="col-sm-2 ">
            <form action="{% url 'write_product' %}">
                <input class="btn btn-success" type="submit" value="AD A PRODUCT" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
